plugin.video.pseudotv.live/remotes/xmltv.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tv">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="channel" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="display-name">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="id" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="programme" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="sub-title">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="desc">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="length">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:byte">
											<xs:attribute type="xs:string" name="units" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="star-rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="credits">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="writer"/>
										<xs:element type=" xs: string" name="director"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="director"/>
										<xs:element type=" xs: string" name="writer"/>
										<xs:element type=" xs: string" name="writer"/>
										<xs:element type=" xs: string" name="director"/>
										<xs:element type=" xs: string" name="director"/>
										<xs:element type=" xs: string" name="director"/>
										<xs:element type=" xs: string" name="writer"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="writer"/>
										<xs:element type=" xs: string" name="writer"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type=" xs: string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type=" xs: int" name="date"/>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:float">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
										<xs:element type=" xs: string" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="category" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="lang" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="star-rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="star-rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="star-rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="star-rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: Date" name="value"/>
										<xs:element type=" xs: Date" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: string" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="star-rating">
								<xs:complexType>
									<xs:sequence>
										<xs:element type=" xs: Date" name="value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="episode-num">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="system"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:long" name="start" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:long" name="date"/>
		</xs:complexType>
	</xs:element>
</xs:schema>